<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <cpn></cpn>
        <cpn>
            <!-- 获取子组件中的数据 -->
            <template v-slot="slot">
                <span v-for="foo in slot.data">{{foo}}-</span>
            </template>
        </cpn>
        <cpn></cpn>
    </div>
    <template id="cpn">
        <div>
            <slot :data="pLanguages">
                <ul>
                   <li v-for="foo in pLanguages">{{foo}}</li>  
                </ul>
            </slot>
        </div>
    </template>
    <script src="../vue/vue.js"></script>
    <script>
        const app=new Vue({
            el:'#app',
            data:{
                message:'hello',
            },
            components:{
                cpn:{
                    template:'#cpn',
                    data() {
                        return {
                            pLanguages:['Python','JavaScript','c++','Java','c#'],
                        }
                    },
                }
            }
        })
    </script>
</body>
</html>